/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(135deg, #1a1a1a, #121212);
  font-family: "Poppins";
  overflow: hidden;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #1c1c1c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  z-index: 99999;
}

.nav a:hover{
    color: #ff9000;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #1c1c1c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 6px;
    background: #ff9000;
    transition: width 2s;
}

.content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.visible {
    opacity: 1;
}

.floating {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.floating.visible {
    transform: translateY(0);
    opacity: 1;
}

.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ff9000;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
  
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
  }
  
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
              0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2;
    }
  
    100% {
      box-shadow: 0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2,
              -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #1c1c1c;
    font-size: 1.3rem;
    padding: 40px;
    text-align: center;
}

.container h1{
    color: white;
}

.container h4{
    color: #ff9000;
}

.cont{
    padding: 30px  50px;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    font-size: 1.4rem;

}

.lets h1{
    font-size: 2.5rem;

}

.lets{
    padding: 10px;
    width: 40%;
}

.lock{
    padding: 20px;
    width: 60%;
}


.contact{
    height: auto;
    background-image: url(backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   }

.bigblogcont form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
input{
  width: 49%;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #20212E;
  color: white;
  outline: none;
  border: 1px solid #20212E;
  font-size: 17px;
  font-family: inherit;
}
.email{
   margin-left: 14px;
}
textarea{
  background-color: #20212E;
  margin-top: 14px;
  border-radius: 20px;
  height: 200px;
  resize: none;
  overflow: auto;
  padding: 15px 20px;
  color: white;
  font-family: inherit;
  font-size: 17px;
  border: none;
  outline: none;
}

.submit{
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 12px 17px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  margin-top: 14px;
  width: 50%;
}
.submit:hover{
  background-color: #ff9000;
  color: #000;
}
.submit .fa-angle-right:hover{
  color: white;
}

.input:active{
  border: 2px solid #ff9000;
}

.documentscont{
  padding: 20px;
  overflow: auto;
  text-align: center;
}

.adobe{
  width: 48%;
  padding: 4px;
  text-align: center;
  margin-bottom: 14px;
}
.adobeicon img{
  width: 60%;
  object-fit: cover;
}
.adobe:hover{
  color: #ff9000;
  cursor: pointer;
}

.maincont2{
  padding: 10px 30px;
  display: flex;
}

.bigblogcont{
  width: 65%;
  padding: 60px 30px;
}
.smallblogcont{
  width: 35%;
  padding: 60px 30px;
}

@media screen and (max-width: 800px) {
  .maincont2{
      display: block;
      padding: 10px;
  }
  .bigblogcont, .smallblogcont{
      width: 100%;
      padding: 10px;
  }
  input{
      width: 100%;
      margin: auto;
      margin-bottom: 14px;
  }
  .email{
      margin-left: 0px;
      margin: auto;
      width: 100%;
  }
  .cont{
    flex-direction: column;
  }
  .lets, .lock{
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .contact{
    background-image: url(vecteezy_abstract-orange-and-black-grunge-texture-background_.jpg);
  }
}

.footer {
  padding: 40px 0;
  text-align: center;
  color: white;
  font-size: 24px;
}
.footer .contact-info {
  margin-bottom: 20px;
}
.footer .contact-info div {
  margin: 10px 0;
}
.footer .contact-info i {
  margin-right: 10px;
}
.footer .social-icons {
  margin: 20px 0;
}
.footer .social-icons a {
  margin: 0 10px;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 24px;
}
.footer .social-icons a:hover {
  color: #ff9000;
}
.footer .rights {
  margin-top: 20px;
  font-size: 14px;
}
hr {
  border: none;
  border-top: 1px solid white;
  margin: 20px 0;
}