/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(135deg, #1a1a1a, #121212);
  font-family: "Poppins";
  overflow: hidden;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #1c1c1c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  z-index: 99999;
}

.nav a:hover{
    color: #ff9000;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #1c1c1c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 6px;
    background: #ff9000;
    transition: width 2s;
}

.content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.visible {
    opacity: 1;
}

.floating {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.floating.visible {
    transform: translateY(0);
    opacity: 1;
}

.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ff9000;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
  
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
  }
  
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
              0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2;
    }
  
    100% {
      box-shadow: 0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2,
              -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}

h1 {
    margin-top: 20px;
    font-size: 3em;
    color: #ff9000;
    animation: fadeInDown 1s ease-out;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 80%;
    margin-top: 80px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 1s ease-out;
    position: relative;
    overflow: visible;
}

.skill-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff9000;
}

.skill-card:hover img {
    transform: rotate(10deg);
}

.skill-name {
    font-size: 1.5em;
    color: #ff9000;
}

.tooltip {
    visibility: hidden;
    width: 220px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    bottom: 110%; /* Position the tooltip below the skill card */
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.skill-card:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    .skill-card {
        padding: 15px;
    }

    .skill-card img {
        width: 60px;
        height: 60px;
    }

    .skill-name {
        font-size: 1.3em;
    }
}

 /* Custom scrollbar styles */
 ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c; 
}

::-webkit-scrollbar-thumb {
  background-color: #ff9000; /* Orange color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FF8C00; /* Darker orange on hover */
}

.getin{
  padding: 40px 20px;
  text-align: center;
  background-color: #f2f2f2;
  color: #1c1c1c;
}

.get a{
  background-color: #FF8C00;
}

.button2 {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  text-decoration: none;
  color: #1c1c1c;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.button2:hover{
  background-color: #1c1c1c;
  color: white;
  cursor: pointer;
}


.footer-random123 {
  background-color: #1c1c1c;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-logo-random123 {
  flex: 1;
  max-width: 200px;
  margin-bottom: 20px;
}
.footer-logo-random123 img {
  width: 100%;
}
.footer-section-random123 {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}
.footer-section-random123 h4 {
  margin-bottom: 10px;
}
.footer-section-random123 ul {
  list-style-type: none;
  padding: 0;
}
.footer-section-random123 ul li {
  margin-bottom: 10px;
}
.footer-section-random123 ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-section-random123 ul li a:hover {
  text-decoration: underline;
}
.footer-contact-random123 p {
  margin: 5px 0;
}
.footer-newsletter-random123 input[type="email"] {
  width: calc(100% - 120px);
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-right: -5px;
}
.footer-newsletter-random123 button {
  padding: 10px 20px;
  background-color: #ff7e00;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.footer-newsletter-random123 button:hover {
  background-color: #e66d00;
}
@media (max-width: 600px) {
  .footer-random123 {
      flex-direction: column;
      align-items: center;
  }
  .footer-logo-random123, .footer-section-random123, .footer-newsletter-random123 {
      max-width: none;
      text-align: center;
  }
  .footer-newsletter-random123 input[type="email"] {
      width: 100%;
      margin: 0 0 10px 0;
      border-radius: 5px;
  }
  .footer-newsletter-random123 button {
      width: 100%;
      border-radius: 5px;
  }
}

.form2 div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form2 div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid #ff9000;
}

.form2 div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: #ff9000;
  border-radius: 0.375rem;
  border: none;
  outline: none;
}